<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TRTSystem.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <applicationSettings>
    <TRTSystem.My.MySettings>
      <setting name="TRTSystem_v331_dcl1_v331_DCL1_Service" serializeAs="String">
        <value>http://localhost/trtdata/v331_dcl1.php</value>
      </setting>
      <setting name="TRTSystem_v331_dcl2_v331_DCL2_Service" serializeAs="String">
        <value>http://localhost/trtdata/v331_dcl2.php</value>
      </setting>
      <setting name="TRTSystem_v331_dcl3_v331_DCL3_Service" serializeAs="String">
        <value>http://localhost/trtdata/v331_dcl3.php</value>
      </setting>
      <setting name="TRTSystem_v331_dcl4_v331_DCL4_Service" serializeAs="String">
        <value>http://localhost/trtdata/v331_dcl4.php</value>
      </setting>
      <setting name="TRTSystem_v331_dcl5_v331_DCL5_Service" serializeAs="String">
        <value>http://localhost/trtdata/v331_dcl5.php</value>
      </setting>
      <setting name="TRTSystem_v331_dcl7_v331_DCL7_Service" serializeAs="String">
        <value>http://localhost/trtdata/v331_dcl7.php</value>
      </setting>
      <setting name="TRTSystem_v331_ptl1_v331_PTL1_Service" serializeAs="String">
        <value>http://localhost/trtdata/v331_ptl1.php</value>
      </setting>
      <setting name="TRTSystem_v331_ptl2_v331_PTL2_Service" serializeAs="String">
        <value>http://localhost/trtdata/v331_ptl2.php</value>
      </setting>
      <setting name="TRTSystem_v331_ptl3_v331_PTL3_Service" serializeAs="String">
        <value>http://localhost/trtdata/v331_ptl3.php</value>
      </setting>
      <setting name="TRTSystem_v331_ptl4_v331_PTL4_Service" serializeAs="String">
        <value>http://localhost/trtdata/v331_ptl4.php</value>
      </setting>
      <setting name="TRTSystem_v331_ptl5_v331_PTL5_Service" serializeAs="String">
        <value>http://localhost/trtdata/v331_ptl5.php</value>
      </setting>
      <setting name="TRTSystem_v331_ptl6_v331_PTL6_Service" serializeAs="String">
        <value>http://localhost/trtdata/v331_ptl6.php</value>
      </setting>
      <setting name="TRTSystem_v331_userl1_v331_USERL1_Service" serializeAs="String">
        <value>http://localhost/trtdata/v331_userl1.php</value>
      </setting>
      <setting name="TRTSystem_v331_dc1_v331_DC1_Service" serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v331_dc1.php</value>
      </setting>
      <setting name="TRTSystem_v331_dc2_v331_DC2_Service" serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v331_dc2.php</value>
      </setting>
      <setting name="TRTSystem_v331_dc3_v331_DC3_Service" serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v331_dc3.php</value>
      </setting>
      <setting name="TRTSystem_v331_dc4_v331_DC4_Service" serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v331_dc4.php</value>
      </setting>
      <setting name="TRTSystem_v331_dc5_v331_DC5_Service" serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v331_dc5.php</value>
      </setting>
      <setting name="TRTSystem_v331_dc7_v331_DC7_Service" serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v331_dc7.php</value>
      </setting>
      <setting name="TRTSystem_v331_pt1_v331_PT1_Service" serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v331_pt1.php</value>
      </setting>
      <setting name="TRTSystem_v331_pt2_v331_PT2_Service" serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v331_pt2.php</value>
      </setting>
      <setting name="TRTSystem_v331_pt3_v331_PT3_Service" serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v331_pt3.php</value>
      </setting>
      <setting name="TRTSystem_v331_pt4_v331_PT4_Service" serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v331_pt4.php</value>
      </setting>
      <setting name="TRTSystem_v331_pt5_v331_PT5_Service" serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v331_pt5.php</value>
      </setting>
      <setting name="TRTSystem_v331_pt6_v331_PT6_Service" serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v331_pt6.php</value>
      </setting>
      <setting name="TRTSystem_v331_trtprogram1_v331_TRTPROGRAM1_Service"
        serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v331_trtprogram1.php</value>
      </setting>
      <setting name="TRTSystem_v331_user1_v331_USER1_Service" serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v331_user1.php</value>
      </setting>
      <setting name="TRTSystem_v3x_trtprograml1_v3X_TRTPROGRAML1_Service"
        serializeAs="String">
        <value>http://localhost/trtdata/v3x_trtprograml1.php</value>
      </setting>
      <setting name="TRTSystem_v3x_trtprogram1_v3X_TRTPROGRAM1_Service"
        serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v3x_trtprogram1.php</value>
      </setting>
      <setting name="TRTSystem_v34_dcl1_v34_DCL1_Service" serializeAs="String">
        <value>http://localhost/trtdata/v34_dcl1.php</value>
      </setting>
      <setting name="TRTSystem_v3x_user1_v3x_USER1_Service" serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v3x_user1.php</value>
      </setting>
      <setting name="TRTSystem_v34_dc1_v34_DC1_Service" serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v34_dc1.php</value>
      </setting>
      <setting name="TRTSystem_v34_dc2_v34_DC2_Service" serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v34_dc2.php</value>
      </setting>
      <setting name="TRTSystem_v34_dc3_v34_DC3_Service" serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v34_dc3.php</value>
      </setting>
      <setting name="TRTSystem_v34_dc4_v34_DC4_Service" serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v34_dc4.php</value>
      </setting>
      <setting name="TRTSystem_v34_dc5_v34_DC5_Service" serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v34_dc5.php</value>
      </setting>
      <setting name="TRTSystem_v34_dc6_v34_DC6_Service" serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v34_dc6.php</value>
      </setting>
      <setting name="TRTSystem_v34_dc7_v34_DC7_Service" serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v34_dc7.php</value>
      </setting>
      <setting name="TRTSystem_v34_dc8_v34_DC8_Service" serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v34_dc8.php</value>
      </setting>
      <setting name="TRTSystem_v34_dcl2_v34_DCL2_Service" serializeAs="String">
        <value>http://localhost/trtdata/v34_dcl2.php</value>
      </setting>
      <setting name="TRTSystem_v34_dcl3_v34_DCL3_Service" serializeAs="String">
        <value>http://localhost/trtdata/v34_dcl3.php</value>
      </setting>
      <setting name="TRTSystem_v34_dcl4_v34_DCL4_Service" serializeAs="String">
        <value>http://localhost/trtdata/v34_dcl4.php</value>
      </setting>
      <setting name="TRTSystem_v34_dcl5_v34_DCL5_Service" serializeAs="String">
        <value>http://localhost/trtdata/v34_dcl5.php</value>
      </setting>
      <setting name="TRTSystem_v34_dcl6_v34_DCL6_Service" serializeAs="String">
        <value>http://localhost/trtdata/v34_dcl6.php</value>
      </setting>
      <setting name="TRTSystem_v34_dcl7_v34_DCL7_Service" serializeAs="String">
        <value>http://localhost/trtdata/v34_dcl7.php</value>
      </setting>
      <setting name="TRTSystem_v34_dcl8_v34_DCL8_Service" serializeAs="String">
        <value>http://localhost/trtdata/v34_dcl8.php</value>
      </setting>
      <setting name="TRTSystem_v34_ptl1_v34_PTL1_Service" serializeAs="String">
        <value>http://localhost/trtdata/v34_ptl1.php</value>
      </setting>
      <setting name="TRTSystem_v34_ptl2_v34_PTL2_Service" serializeAs="String">
        <value>http://localhost/trtdata/v34_ptl2.php</value>
      </setting>
      <setting name="TRTSystem_v34_ptl3_v34_PTL3_Service" serializeAs="String">
        <value>http://localhost/trtdata/v34_ptl3.php</value>
      </setting>
      <setting name="TRTSystem_v34_ptl4_v34_PTL4_Service" serializeAs="String">
        <value>http://localhost/trtdata/v34_ptl4.php</value>
      </setting>
      <setting name="TRTSystem_v34_ptl5_v34_PTL5_Service" serializeAs="String">
        <value>http://localhost/trtdata/v34_ptl5.php</value>
      </setting>
      <setting name="TRTSystem_v34_ptl6_v34_PTL6_Service" serializeAs="String">
        <value>http://localhost/trtdata/v34_ptl6.php</value>
      </setting>
      <setting name="TRTSystem_v34_pt2_v34_PT2_Service" serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v34_pt2.php</value>
      </setting>
      <setting name="TRTSystem_v34_pt3_v34_PT3_Service" serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v34_pt3.php</value>
      </setting>
      <setting name="TRTSystem_v34_pt4_v34_PT4_Service" serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v34_pt4.php</value>
      </setting>
      <setting name="TRTSystem_v34_pt5_v34_PT5_Service" serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v34_pt5.php</value>
      </setting>
      <setting name="TRTSystem_v34_pt6_v34_PT6_Service" serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v34_pt6.php</value>
      </setting>
      <setting name="TRTSystem_v3x_userl1_v3x_USERL1_Service" serializeAs="String">
        <value>http://localhost/trtdata/v3x_userl1.php</value>
      </setting>
      <setting name="TRTSystem_v34_pt1_v34_PT1_Service" serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v34_pt1.php</value>
      </setting>
    </TRTSystem.My.MySettings>
  </applicationSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
