<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TRTSystem.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <applicationSettings>
    <TRTSystem.My.MySettings>
      <setting name="TRTSystem_v33_dcl1_DCL1_Service" serializeAs="String">
        <value>http://localhost/trtdata/v33_dcl1.php</value>
      </setting>
      <setting name="TRTSystem_v33_dcl2_DCL2_Service" serializeAs="String">
        <value>http://localhost/trtdata/v33_dcl2.php</value>
      </setting>
      <setting name="TRTSystem_v33_dcl3_DCL3_Service" serializeAs="String">
        <value>http://localhost/trtdata/v33_dcl3.php</value>
      </setting>
      <setting name="TRTSystem_v33_dcl4_DCL4_Service" serializeAs="String">
        <value>http://localhost/trtdata/v33_dcl4.php</value>
      </setting>
      <setting name="TRTSystem_v33_dcl5_DCL5_Service" serializeAs="String">
        <value>http://localhost/trtdata/v33_dcl5.php</value>
      </setting>
      <setting name="TRTSystem_v33_dcl7_DCL7_Service" serializeAs="String">
        <value>http://localhost/trtdata/v33_dcl7.php</value>
      </setting>
      <setting name="TRTSystem_v33_ptl1_PTL1_Service" serializeAs="String">
        <value>http://localhost/trtdata/v33_ptl1.php</value>
      </setting>
      <setting name="TRTSystem_v33_ptl2_PTL2_Service" serializeAs="String">
        <value>http://localhost/trtdata/v33_ptl2.php</value>
      </setting>
      <setting name="TRTSystem_v33_ptl3_PTL3_Service" serializeAs="String">
        <value>http://localhost/trtdata/v33_ptl3.php</value>
      </setting>
      <setting name="TRTSystem_v33_ptl4_PTL4_Service" serializeAs="String">
        <value>http://localhost/trtdata/v33_ptl4.php</value>
      </setting>
      <setting name="TRTSystem_v33_ptl5_PTL5_Service" serializeAs="String">
        <value>http://localhost/trtdata/v33_ptl5.php</value>
      </setting>
      <setting name="TRTSystem_v33_ptl6_PTL6_Service" serializeAs="String">
        <value>http://localhost/trtdata/v33_ptl6.php</value>
      </setting>
      <setting name="TRTSystem_v33_trtprograml1_TRTPROGRAML1_Service"
        serializeAs="String">
        <value>http://localhost/trtdata/v33_trtprograml1.php</value>
      </setting>
      <setting name="TRTSystem_v33_userl1_USERL1_Service" serializeAs="String">
        <value>http://localhost/trtdata/v33_userl1.php</value>
      </setting>
      <setting name="TRTSystem_v33_dc1_v33_DC1_Service" serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v33_dc1.php</value>
      </setting>
      <setting name="TRTSystem_v33_dc2_v33_DC2_Service" serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v33_dc2.php</value>
      </setting>
      <setting name="TRTSystem_v33_dc3_v33_DC3_Service" serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v33_dc3.php</value>
      </setting>
      <setting name="TRTSystem_v33_dc4_v33_DC4_Service" serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v33_dc4.php</value>
      </setting>
      <setting name="TRTSystem_v33_dc5_v33_DC5_Service" serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v33_dc5.php</value>
      </setting>
      <setting name="TRTSystem_v33_dc7_v33_DC7_Service" serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v33_dc7.php</value>
      </setting>
      <setting name="TRTSystem_v33_pt1_v33_PT1_Service" serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v33_pt1.php</value>
      </setting>
      <setting name="TRTSystem_v33_pt2_v33_PT2_Service" serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v33_pt2.php</value>
      </setting>
      <setting name="TRTSystem_v33_pt3_v33_PT3_Service" serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v33_pt3.php</value>
      </setting>
      <setting name="TRTSystem_v33_pt4_v33_PT4_Service" serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v33_pt4.php</value>
      </setting>
      <setting name="TRTSystem_v33_pt5_v33_PT5_Service" serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v33_pt5.php</value>
      </setting>
      <setting name="TRTSystem_v33_pt6_v33_PT6_Service" serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v33_pt6.php</value>
      </setting>
      <setting name="TRTSystem_v33_trtprogram1_v33_TRTPROGRAM1_Service"
        serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v33_trtprogram1.php</value>
      </setting>
      <setting name="TRTSystem_v33_user1_v33_USER1_Service" serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v33_user1.php</value>
      </setting>
      <setting name="TRTSystem_v33_dcl1_v33_DCL1_Service" serializeAs="String">
        <value>http://localhost/trtdata/v33_dcl1.php</value>
      </setting>
      <setting name="TRTSystem_v33_dcl2_v33_DCL2_Service" serializeAs="String">
        <value>http://localhost/trtdata/v33_dcl2.php</value>
      </setting>
      <setting name="TRTSystem_v33_dcl3_v33_DCL3_Service" serializeAs="String">
        <value>http://localhost/trtdata/v33_dcl3.php</value>
      </setting>
      <setting name="TRTSystem_v33_dcl4_v33_DCL4_Service" serializeAs="String">
        <value>http://localhost/trtdata/v33_dcl4.php</value>
      </setting>
      <setting name="TRTSystem_v33_dcl5_v33_DCL5_Service" serializeAs="String">
        <value>http://localhost/trtdata/v33_dcl5.php</value>
      </setting>
      <setting name="TRTSystem_v33_dcl7_v33_DCL7_Service" serializeAs="String">
        <value>http://localhost/trtdata/v33_dcl7.php</value>
      </setting>
      <setting name="TRTSystem_v33_ptl1_v33_PTL1_Service" serializeAs="String">
        <value>http://localhost/trtdata/v33_ptl1.php</value>
      </setting>
      <setting name="TRTSystem_v33_ptl2_v33_PTL2_Service" serializeAs="String">
        <value>http://localhost/trtdata/v33_ptl2.php</value>
      </setting>
      <setting name="TRTSystem_v33_ptl3_v33_PTL3_Service" serializeAs="String">
        <value>http://localhost/trtdata/v33_ptl3.php</value>
      </setting>
      <setting name="TRTSystem_v33_ptl4_v33_PTL4_Service" serializeAs="String">
        <value>http://localhost/trtdata/v33_ptl4.php</value>
      </setting>
      <setting name="TRTSystem_v33_ptl5_v33_PTL5_Service" serializeAs="String">
        <value>http://localhost/trtdata/v33_ptl5.php</value>
      </setting>
      <setting name="TRTSystem_v33_ptl6_v33_PTL6_Service" serializeAs="String">
        <value>http://localhost/trtdata/v33_ptl6.php</value>
      </setting>
      <setting name="TRTSystem_v33_trtprograml1_v33_TRTPROGRAML1_Service"
        serializeAs="String">
        <value>http://localhost/trtdata/v33_trtprograml1.php</value>
      </setting>
      <setting name="TRTSystem_v33_userl1_v33_USERL1_Service" serializeAs="String">
        <value>http://localhost/trtdata/v33_userl1.php</value>
      </setting>
      <setting name="TRTSystem_v331_dcl1_v331_DCL1_Service" serializeAs="String">
        <value>http://localhost/trtdata/v331_dcl1.php</value>
      </setting>
      <setting name="TRTSystem_v331_dcl2_v331_DCL2_Service" serializeAs="String">
        <value>http://localhost/trtdata/v331_dcl2.php</value>
      </setting>
      <setting name="TRTSystem_v331_dcl3_v331_DCL3_Service" serializeAs="String">
        <value>http://localhost/trtdata/v331_dcl3.php</value>
      </setting>
      <setting name="TRTSystem_v331_dcl4_v331_DCL4_Service" serializeAs="String">
        <value>http://localhost/trtdata/v331_dcl4.php</value>
      </setting>
      <setting name="TRTSystem_v331_dcl5_v331_DCL5_Service" serializeAs="String">
        <value>http://localhost/trtdata/v331_dcl5.php</value>
      </setting>
      <setting name="TRTSystem_v331_dcl7_v331_DCL7_Service" serializeAs="String">
        <value>http://localhost/trtdata/v331_dcl7.php</value>
      </setting>
      <setting name="TRTSystem_v331_ptl1_v331_PTL1_Service" serializeAs="String">
        <value>http://localhost/trtdata/v331_ptl1.php</value>
      </setting>
      <setting name="TRTSystem_v331_ptl2_v331_PTL2_Service" serializeAs="String">
        <value>http://localhost/trtdata/v331_ptl2.php</value>
      </setting>
      <setting name="TRTSystem_v331_ptl3_v331_PTL3_Service" serializeAs="String">
        <value>http://localhost/trtdata/v331_ptl3.php</value>
      </setting>
      <setting name="TRTSystem_v331_ptl4_v331_PTL4_Service" serializeAs="String">
        <value>http://localhost/trtdata/v331_ptl4.php</value>
      </setting>
      <setting name="TRTSystem_v331_ptl5_v331_PTL5_Service" serializeAs="String">
        <value>http://localhost/trtdata/v331_ptl5.php</value>
      </setting>
      <setting name="TRTSystem_v331_ptl6_v331_PTL6_Service" serializeAs="String">
        <value>http://localhost/trtdata/v331_ptl6.php</value>
      </setting>
      <setting name="TRTSystem_v331_userl1_v331_USERL1_Service" serializeAs="String">
        <value>http://localhost/trtdata/v331_userl1.php</value>
      </setting>
      <setting name="TRTSystem_v331_dc1_v331_DC1_Service" serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v331_dc1.php</value>
      </setting>
      <setting name="TRTSystem_v331_dc2_v331_DC2_Service" serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v331_dc2.php</value>
      </setting>
      <setting name="TRTSystem_v331_dc3_v331_DC3_Service" serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v331_dc3.php</value>
      </setting>
      <setting name="TRTSystem_v331_dc4_v331_DC4_Service" serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v331_dc4.php</value>
      </setting>
      <setting name="TRTSystem_v331_dc5_v331_DC5_Service" serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v331_dc5.php</value>
      </setting>
      <setting name="TRTSystem_v331_dc7_v331_DC7_Service" serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v331_dc7.php</value>
      </setting>
      <setting name="TRTSystem_v331_pt1_v331_PT1_Service" serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v331_pt1.php</value>
      </setting>
      <setting name="TRTSystem_v331_pt2_v331_PT2_Service" serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v331_pt2.php</value>
      </setting>
      <setting name="TRTSystem_v331_pt3_v331_PT3_Service" serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v331_pt3.php</value>
      </setting>
      <setting name="TRTSystem_v331_pt4_v331_PT4_Service" serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v331_pt4.php</value>
      </setting>
      <setting name="TRTSystem_v331_pt5_v331_PT5_Service" serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v331_pt5.php</value>
      </setting>
      <setting name="TRTSystem_v331_pt6_v331_PT6_Service" serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v331_pt6.php</value>
      </setting>
      <setting name="TRTSystem_v331_trtprogram1_v331_TRTPROGRAM1_Service"
        serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v331_trtprogram1.php</value>
      </setting>
      <setting name="TRTSystem_v331_user1_v331_USER1_Service" serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v331_user1.php</value>
      </setting>
      <setting name="TRTSystem_v3x_trtprograml1_v3X_TRTPROGRAML1_Service"
        serializeAs="String">
        <value>http://localhost/trtdata/v3x_trtprograml1.php</value>
      </setting>
      <setting name="TRTSystem_v3x_trtprogram1_v3X_TRTPROGRAM1_Service"
        serializeAs="String">
        <value>https://trtregistry.org:443/trtdata/v3x_trtprogram1.php</value>
      </setting>
    </TRTSystem.My.MySettings>
  </applicationSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>